<div class="w-full">
  @if(uiService.isLoading){

  <p-skeleton width="160px" height="25px" />
  <div class="flex flex-wrap mt-14 gap-7">
    <p-skeleton width="254px" height="174px" />
    <p-skeleton width="254px" height="174px" />
    <p-skeleton width="254px" height="174px" />
    <p-skeleton width="254px" height="174px" />
    <p-skeleton width="254px" height="174px" />
    <p-skeleton width="254px" height="174px" />
    <p-skeleton width="254px" height="174px" />
  </div>
  }@else {
  <p class="m-0 text-2xl font-medium my-4">Databases</p>
  <div class="flex flex-wrap mt-14 gap-7">
    @for (database of databases; track $index) {
    <app-database-card
      [database]="database"
      (onDeleteDatabase)="onDatabaseDeleted($event)"
    ></app-database-card>
    }
    <app-add-db-card (onDatabaseAdd)="onNewDatabaseAdded($event)"></app-add-db-card>
  </div>
  }
</div>
