<div class="w-full">
  @if(uiService.isLoading){
  <div class="flex justify-between items-center">
    <p-skeleton width="160px" height="25px" />
    <p-skeleton width="270px" height="40px" />
  </div>
  <div class="flex flex-wrap mt-10 gap-7">
    <p-skeleton width="254px" height="174px" />
    <p-skeleton width="254px" height="174px" />
    <p-skeleton width="254px" height="174px" />
    <p-skeleton width="254px" height="174px" />
    <p-skeleton width="254px" height="174px" />
    <p-skeleton width="254px" height="174px" />
    <p-skeleton width="254px" height="174px" />
  </div>
  }@else {
  <div class="flex justify-between items-center">
    <p class="m-0 text-2xl font-medium">Collections</p>
    <div class="flex flex-col w-[300px]">
      <label for="uri" class="text-base">Select database</label>
      <p-dropdown
      [options]="databasesNames"
      [(ngModel)]="selectedDb"
      (ngModelChange)="onSelectionChange($event)"
      styleClass="fixed-dropdown"
    />
    </div>
    
  </div>
  <div class="flex flex-wrap mt-10 gap-7">
    @for (collection of collections; track $index) {
    <app-collection-card [collection]="collection" (onCollDelete)="onCollectionDeleted($event)"></app-collection-card>
    }
    <app-collection-add-card (onCollectionAdd)="onCollectionAdded($event)"></app-collection-add-card>
  </div>
  }
</div>
