<div class="w-full h-screen flex flex-col justify-center items-center">
  <p-toast></p-toast>
  <div class="flex justify-center">
    <p-image
      src="milvus_logo.png"
      alt="Milvus Logo"
      width="280px"
      class="mb-3"
    />
  </div>
  <div
    class="xl:w-1/3 lg:w-2/4 md:w-3/4 w-11/12 bg-slate-700/30 p-8 rounded-lg flex flex-col gap-5"
  >
    <p class="text-xl m-0">Conncet to Milvus Server</p>
    <form [formGroup]="form" class="flex flex-col gap-5">
      <div class="flex flex-col gap-2 w-full mt-4">
        <div class="flex gap-2 items-center">
          <label for="uri" class="text-base">Milvus Address</label>
          <span
            [pTooltip]="addressTooltip"
            class="pi pi-info-circle"
            style="color: #60a5fa"
          ></span>
        </div>
        <p-iconField iconPosition="left">
          <p-inputIcon styleClass="pi pi-link" />
          <input
            class="w-full"
            pInputText
            id="uri"
            aria-describedby="username-help"
            placeholder="ex. http://localhost:19530"
            formControlName="uri"
            required
            (keyup.enter)="connect()"
            variant="outlined"
          />
        </p-iconField>
        @if (this.form.controls['uri'].hasError("required") &&
        this.form.get('uri')?.dirty) {
        <small class="p-error">Address is required!</small>
        } @if (this.form.controls['uri'].hasError('minlength')) {
        <small class="p-error">Address too short!</small>
        } @if (this.form.controls['uri'].hasError('maxlength')) {
        <small class="p-error">Address too long!</small>
        }
      </div>
      <p-button
        class="w-full mt-2"
        label="Connect"
        type="submit"
        (onClick)="connect()"
        [disabled]="form.invalid || this.uiService.isLoading"
      >
        <ng-template pTemplate="icon">
          @if(this.uiService.isLoading){
          <i class="pi pi-spinner pi-spin"></i>
          }
        </ng-template>
      </p-button>
    </form>
    <ng-template #addressTooltip>
      <div class="flex align-items-center">
        <p class="m-0 text-xs">Enter URL to connect to Milvus Server</p>
      </div>
    </ng-template>
  </div>
</div>
